html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 100px;
}

.card {
  background-color: white;
  width: 350px;
  height: 600px;
  box-shadow: 10px 15px 30px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column wrap;
}

.card-header {
  height: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.background-product {
  background-color: rgba(245, 245, 245, 255);
  width: 250px;
  height: 150px;
  display: flex;
  flex-flow: row;
  align-items: end;
}

.circle-1 {
  background-color: rgba(94, 214, 186, 255);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border-style: solid;
  border-color: rgba(204, 249, 245, 255);
  margin: 5px;
}

.circle-2 {
  background-color: rgb(255, 0, 0);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border-style: solid;
  border-color: rgb(255, 152, 147);
  margin: 5px;
}

.circle-3 {
  background-color: rgb(255, 196, 0);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border-style: solid;
  border-color: rgb(255, 239, 179);
  margin: 5px;
}

.reloj {
  margin-bottom: -50px;
  width: 120px;
  height: 250px;
  object-fit: cover;
  margin-left: 40px;
}

.shoes {
  margin-bottom: -35px;
  width: 180px;
  height: 210px;
  object-fit: cover;
  margin-left: 20px;
}

.t-shirt {
  margin-bottom: -29px;
  width: 180px;
  height: 215px;
  object-fit: cover;
  margin-left: 20px;
}

.card-body {
  height: 285px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.product-title {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: rgb(74, 74, 74);
  font-weight: bold;
  margin: 0;
  margin-top: 30px;
}

.description-product {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(172, 172, 172);
  margin: 0;
  margin-top: 25px;
}

.price-product {
  font-size: 25px;
  margin: 0;
  margin-bottom: 25px;
  transition: color 0.3s ease;
}

.price-product-color-sky {
  color: rgb(86, 196, 174);
}

.price-product-color-red {
  color: rgb(255, 0, 0);
}

.price-product-color-yellow {
  color: rgb(255, 196, 0);
}

.ranking i:nth-child(-n + 3) {
  color: gold;
}

.ranking i {
  color: rgb(198, 198, 198);
}

.card-footer {
  height: 65px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.button-add-to-cart {
  height: 100%;
  width: 100%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.button-blue-sky {
  background-color: rgb(0, 207, 167);
  transition: background-color 0.3s ease;
}

.button-red {
  background-color: rgb(255, 0, 0);
}

.button-yellow {
  background-color: rgb(255, 196, 0);
}

.button-blue-sky:hover {
  background-color: rgb(92, 215, 197);
}

.card:has(.button-blue-sky:hover) .price-product-color-sky {
  color: rgb(92, 215, 197);
}

.button-red:hover {
  background-color: rgb(255, 152, 147);
}

.card:has(.button-red:hover) .price-product-color-red {
  color: rgb(255, 152, 147);
}

.button-yellow:hover {
  background-color: rgb(255, 239, 179);
}

.card:has(.button-yellow:hover) .price-product-color-yellow {
  color: rgb(255, 239, 179);
}
